p{
    font-size: 26px;
}

#titulo{
    font-size: 36px;
    color: red;
}

.paragrafo{
    font-size: 20px;
    color: white;
    background-color: black;
}

.azul{color: blue;}
.vermelho{color: red;}
.verde{color: green}

.tam26{font-size: 26px;}
.tam36{font-size: 36;}
.tam46{font-size: 46;}
/* da para usar esse modo tambem,depende de cada dev*/

div p{
    margin: 30px;
    padding: 20px;
    text-align:center;
}

div p:hover{
    background-color: yellow;
    color: black;
}